body {
    display: flex;
    flex-wrap: wrap;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: #E8F4DC;
    justify-content: center;
    height: 100vh;
}

.left-column, .right-column {
    flex: 1 0 300px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: white;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    margin: auto;
    transition: transform 0.3s ease;
    border: 1px solid #ccc;
    margin-right: 100px;
}

.right-column {
    flex: 2 1 600px;
    display: flex;
    justify-content: space-between;
    margin-left: 100px;
}

.image-center img {
    width: 1280px;
    height: 720px;
    border-radius: 50%;
    transition: transform 0.3s ease;
}

.header, .contact, .education, .professional-experience {
    text-align: center;
    transition: transform 0.3s ease;
    border: 2px solid #9FA975;
    margin: 2px;
    padding: 10px;
}

.education article, .professional-experience article {
    border: 1px solid #B59F84;
    margin: 5px 0;
    padding: 5px;
    text-align: left;
}

.education:hover {
    transform: scale(1.05) translateX(50px);
    z-index: 10;
    background: #E8F4DC;
}

.professional-experience:hover{
    transform: scale(1.05) translateX(-50px);
    z-index: 10;
    background: #E8F4DC;
}

.left-column:hover, .right-column:hover, .image-center img:hover, .header:hover, .contact:hover {
    transform: scale(1.05);
    z-index: 10;
    background: #E8F4DC;
}

.header h2, .contact h1, .contact h2 {
    margin: 10px 0;
}

.contact ul {
    list-style: none;
    padding: 0;
}

.contact a {
    color: #3498db;
    text-decoration: none;
}

.education, .professional-experience {
    width: 48%;
    padding: 10px;
}

h2, h3, h4, ul, li {
    text-align: left;
}

.header h2 {
    margin: 10px 0;
    font-style: italic;
}

h2 {
    margin-bottom: 5px;
    color: #013A20; 
}

h3 {
    margin-bottom: 5px;
    color: #2B3B43;
}

h4 {
    margin-top: 0;
    color: #5E7845; 
}

